{% extends "base.html.twig" %}

{% block title %}AssuranceBundle:Home:home{% endblock %}

{% block body %}
    {% block login %}
        <li><a href="account" class="effect-3">Account</a></li>
    {% endblock %}
{% endblock %}